<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des rôles</title>
</head>
<body>
<h1>Liste des rôles</h1>
<table>
    <thead>
    <tr><th>ID</th><th>Nom</th><th>Description</th></tr>
    </thead>
    <tbody>
    <tr th:each="role : ${roles}">
        <td th:text="${role.id}">1</td>
        <td th:text="${role.nom}">ROLE_USER</td>
        <td th:text="${role.description}">Utilisateur standard</td>
    </tr>
    </tbody>
</table>
</body>
</html>
