<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${user.id} == null ? 'Créer Utilisateur' : 'Modifier Utilisateur'">Utilisateur</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">

<h1 th:text="${user.id} == null ? 'Créer Utilisateur' : 'Modifier Utilisateur'"></h1>

<form th:object="${user}"
      th:action="${user.id} == null
          ? @{/admin/users}
          : @{/admin/users/{id}(id=${user.id})}"
      method="post">

    <!-- id caché pour l'update -->
    <input type="hidden" th:if="${user.id != null}" th:field="*{id}"/>

    <div>
        <label>Nom</label>
        <input type="text" th:field="*{nom}" required/>
    </div>
    <div>
        <label>Prénom</label>
        <input type="text" th:field="*{prenom}" required/>
    </div>
    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}" required/>
    </div>
    <div>
        <label>Mot de passe</label>
        <input type="password"
               th:field="*{motDePasse}"
               th:attr="required=${user.id == null}"/>
    </div>

    <button type="submit"
            th:text="${user.id} == null ? 'Créer' : 'Enregistrer'" class="btn btn-primary">Valider</button>
</form>

<p><a th:href="@{/admin/users}" class="btn btn-primary">Retour à la liste</a></p>
</div>
</body>
</html>
